body {
    margin: 0;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid #000;
}

.grid div {
    width: 15px;
    height: 15px;
    /* background-color: rgb(26, 46, 158); */
}

.pac-dot {
    background-color: rgb(0, 192, 51);
    border: 5px solid #fff;
    box-sizing: border-box;
}

.wall {
    background-color: rgb(18, 60, 159);
}

.power-pellet {
    background-color: rgb(0, 192, 51);
    border-radius: 50%;
}

.pacman {
    background-color: rgb(255, 204, 2);
    border-radius: 50%;
    border: none;
}

.blinky {
    background-color: rgba(250, 53, 31, 0.832);
    border: none;
}

.pinky {
    background-color: rgba(254, 117, 222, 0.832);
    border: none;
}

.inky {
    background-color: rgb(71, 212, 230);
    border: none;
}

.clyde {
    background-color: rgb(245, 124, 32);
    border: none;
}